@using PagedList.Mvc;
@model PagedList.IPagedList<PagingAndSorting.Models.Student>

@{
    ViewBag.Title = "Index";
}

<style>
    table {
        width: 100%;
    }

    table tr td {
        border: 2px solid black;
        text-align: center;
        word-wrap: break-word;
    }

    table tr:hover {
        background-color: #000;
        color: #fff;
    }

    table tr th {
        border: 2px solid black;
        text-align: center;
        background-color: #fff;
        color: #000;
    }
</style>
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "AddStudent")
</p>
@using (Html.BeginForm("Index", "Employee", FormMethod.Get))
{
    <table class="table">
        <tr>
            <th>
                @Html.ActionLink("Name", "Index", new {sortBy = "Name", currentSort = ViewBag.CurrentSort})
            </th>
            <th>
                @Html.ActionLink("Sex", "Index", new {sortBy = "Sex", currentSort = ViewBag.CurrentSort})
            </th>
            <th>
                @Html.ActionLink("Email", "Index", new {sortBy = "Email", currentSort = ViewBag.CurrentSort})
            </th>
            <th>
                @Html.ActionLink("Age", "Index", new {sortBy = "Age", currentSort = ViewBag.CurrentSort})
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(m => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(m => item.Sex)
                </td>
                <td>
                    @Html.DisplayFor(m => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(m => item.Age)
                </td>
                <td></td>
            </tr>
        }
    </table>
}

<div id="Paging" style="text-align: center">
    Page @(Model.PageCount<Model.PageNumber?0:Model.PageNumber) of @Model.PageCount
    @Html.PagedListPager(Model,page=>Url.Action("Index",new {page}),PagedListRenderOptions.TwitterBootstrapPager)
</div>

